[submodule "free5gc-docker-kube"]
	path = free5gc-docker-kube
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/free5gc-docker-kube.git
[submodule "oai-ran-docker"]
	path = oai-ran-docker
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/oai-ran-docker.git
[submodule "ran-slice-scenarios/cran-scenario"]
	path = ran-slice-scenarios/cran-scenario
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/use-cases/vnf-placement/cran-scenario.git
[submodule "ran-slice-scenarios/ran-slicing-simple-scenario"]
	path = ran-slice-scenarios/ran-slicing-simple-scenario
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/use-cases/flexran-ran-slice/ran-slicing-simple-scenario.git
[submodule "cran-scenario"]
	path = cran-scenario
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/use-cases/vnf-placement/cran-scenario.git
[submodule "monolith-scenario"]
	path = monolith-scenario
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/use-cases/vnf-placement/monolith-scenario.git
[submodule "all-in-one"]
	path = all-in-one
	url = https://gitlab.lasse.ufpa.br/2020-ai-testbed/ai-testbed/use-cases/vnf-placement/all-in-one.git
